<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
</head>
<body>
  <header>
    <nav>
      {% for link in site.nav_links %}
        <a href="{{ link.url }}">{{ link.title }}</a> |
      {% endfor %}
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} Zahra Golpayegani</p>
  </footer>
</body>
</html>
